[submodule "src/plugins/geo"]
	path = src/plugins/geo
	url = git@github.com:getkirby-plugins/geo-plugin.git
[submodule "src/plugins/kirbytextraw"]
	path = src/plugins/kirbytextraw
	url = git@github.com:jbeyerstedt/kirby-plugin-kirbytextRaw
  branch = kirby3
[submodule "src/plugins/sitemap"]
	path = src/plugins/sitemap
	url = git@github.com:jpangborn/kirby-sitemap.git
[submodule "src/content"]
	path = src/content
	url = git@github.com:bradshawsguide/content.git
[submodule "src/patterns"]
	path = src/patterns
	url = git@github.com:bradshawsguide/patterns.git
[submodule "www/kirby"]
	path = www/kirby
	url = git@github.com:k-next/kirby.git
